/* INTRO */
.intro{
  position: relative;


}

#myVideo{ 
  position: relative;
  right: 0;
  bottom: 80px;
  min-width: 100%;
  min-height: 100%;
  z-index: -5!important;
  object-fit: cover;
  padding-bottom: 50px;
}

#title1 {
  font-family: artDec2;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 14;
  position: absolute;
  bottom: 370px;
  font-size: 70px;

}

#titlebann{
  font-family: miami;
  justify-content: center;
  text-align: center;
 color: black;
 font-size: 30px;
}

#titlebann2{
 
  font-size: 22px;

}


#subtitle{
  font-size: 2.2em;
  color: black; 
  font-family: artDec2;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
z-index: 14;
   position: absolute;
   bottom: 275px;


white-space: nowrap;
overflow: hidden;
width: 100%;
animation: animtext 4s steps(80, end) infinite; 
transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
from {
   width: 0;
  transition: all 2s ease-in-out;
} 
}


a.button3{
  white-space: nowrap;
   display:inline-block;
   left: 50%;
   transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   bottom: 95px;
font-size: 30px;
z-index: 14;
position: absolute;
   padding:0.3em 1.2em;
   margin:0 0.3em 0.3em 0;
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family: artDec2;
   font-weight:300;
   color:#FFFFFF;
   background-color:#EEA2C8;
   text-align:center;
   transition: all 0.2s;
  }
  a.button3:hover{
   background-color:#EEA2d2;
  }
  @media all and (max-width:30em){
   a.button3{
   display:block;
   margin:0.2em auto;
  }
  }

  .button-18 {
    white-space: nowrap;
   display:inline-block;
   left: 50%;
   transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   bottom: 55px;
font-size: 30px;
z-index: 14;
position: absolute;
    align-items: center;
    
    background-color: #EEA2C8;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #EEA2d4;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #EEA2f7;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }

  #telef{
    color: #fff;
    text-decoration: none;
  }

  .button-20 {
    font-family: artDec2;
    display:inline-block;
   left: 50%;
   transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   bottom: 4px;
font-size: 40px;
z-index: 14;
position: absolute;
    appearance: button;
    background-color: #EEA2C8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #EEA2C8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-20:focus:not(:focus-visible),
  .button-20:focus {
    outline: 0;
  }
  
  .button-20:hover {
    background-color: #3733E5;
    border-color: #3733E5;
  }
  
  .button-20:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }
  
  .button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }








/* INTRO */

/* Carrousel */

#carousel{
  position:relative;
  bottom:1110px;
}


#imgsize{
  width: 100%;
  height: 550px;

}

#titlecarousel{
  color: #fff;
  position: absolute;
   top: 40px;



}

 #contentcarousel{
  color: #fff;
   top: 85px;
   position: absolute;


 }

/* Carrousel */

#fqh2{
  font-family: artDec2;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

/* Hover */

#imag1hov{
  width: 500px;
  height: 400px;

  border-radius: 50%;


}
.row {
  display: flex;
  position: relative;
  bottom: 650px;


}

.column {
  flex: 33.33%;
 

}

.flip-card {

 
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 500px;
  
  
  height: 400px;
  perspective: 1000px; 
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* .flip-card-front {
  /**/
/* } */


.flip-card-back {

  color: black;
  transform: rotateY(180deg);
}

@media (max-width: 900px) {
  .column{
    padding: 50px;
   
  
}
}

@media (max-width: 480px){
  #imag1hov{
    width: 350px;
    height: 350px;
  }

  .flip-card {
    width: 350px;
    height: 350px;
  }


  .column{
    padding: 20px;
  }



}


/* Hover */


@media screen and (min-width: 1380px) {


#title1{ 
  top: 180px


}
#subtitle{ 
  top: 290px
}

  
}


  @media screen and (max-width: 480px) {

#title1 {
  font-size: 20px;
  
}

#sizephot{
  width:300px;
  height:300px

}

    #logo2{ 

      width: 75%;
      height: 75%;
      
    }






  }
 

/*Questions*/

  body{margin-top:20px;}

.align-center {
    text-align: center;
}


.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}

#questiona{
  text-align: center;
  justify-content: center!important;
}
/*Questions*/



@media screen and (max-width: 1000px) {

  #title1 {
    font-size: 30px;
    bottom: 250px;
  }

  #subtitle {
    font-size: 22px;
    bottom: 200px;
  }
}

@media screen and (max-width: 480px) {


 #myVideo{
  width: 50vh;
  height: 100vh;

 }

  #title1 {
    font-size: 25px;
    bottom: 550px;
  }

  #subtitle {
    font-size: 18px;
    bottom: 500px;
  }
  a.button3{
    bottom: 300px;

  }
  .button-20{
    bottom: 240px;


  }
}