/* INTRO */

#myVideo{ 
 
  position:absolute;
  top:65px;
  width:100%;
  height:600px;
  object-fit: cover;
 
  
}

#title1 {
  font-family: artDec2;
  color: #000;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 14;
  position: absolute;
  bottom: 250px;
  font-size: 90px;
  

}



/* Carrousel */



#carouselExampleDark{
  position:relative;
  top: 780px;
  width: 100%;
  height: 100%;
 
}


#imgsize{
  width: 100%;
  height: 450px;

}

#buttcar{
  background-color: #fff;
}

/* Carrousel */



  * {
    box-sizing: border-box;
  }
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    position: absolute;
    width: 100%;
    bottom:-100px;
    overflow: hidden;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 100%;
    box-sizing: content-box;
    
  }
  .ticker-wrap .ticker {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
  }
  .ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: white;
    font-family: artDec2;
  }
 





.conta{ 
 
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh ;
  position: relative;
  top: 700px;



  
 

}

.container:hover .lower{
  transform: translateY(25%);
  background-color: white;
}

.container:hover .features-list{
  opacity: 1;
}

.container:hover span{
  transform: translateY(35px);
}

.container:hover .content h2{
  opacity: 0;

}

.container:hover .image{
  width: 75%;
}

.container:hover .cta{
  background-color: white;
  color: #151414;

}

.inner{
  
  height: 500px;
  width: 100%;
  background: linear-gradient(45deg, rgba(18,18,18,0.62),
  rgba(18,18,18,0.1)),url(../../images2/miami.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 50%;
  color:white;
}

.content #contah2{
  font-size:2rem;
  transition:all 0.5s ease;
}

.content span{
  font-size:1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition:all 0.5s ease;
}
.image{
  width:55%;
  object-fit:contain;
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);

}

.lower{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  transform: translateY(60%);
  transition: all 0.5s ease;
  min-height: 40%;
}

.features-list{
  padding: 35px;
  list-style: none;
  opacity:0;
  width: 83%;
  transition: all 0.2s ease;

}

.features-list li{
  position: relative;
  font-weight: 100;
  line-height: 150%;
  font-size: 1.1em;
  text-align: left;
}

.features-list li:before{
  position:absolute;
  content: "";
  width: 5px;
  height: 10px;
  border-top: 3px solid #424fc6;
  border-left: 3px solid #424fc6;
  left: -15px;
  top: 5px;
  transform: rotate(-130deg);

}

.cta{
  width: 100%;
  border: none;
  outline: none;
  padding: 30px;
  font-size: 1.2rem;
  color: #000;
  font-weight: 100%;
 
  cursor: pointer;
  justify-content: center !important;
  align-items: center !important;
  font-family:miami;
  
 
}



#fut{
  top: 1910px;
  position: absolute;
  justify-content: center!important;
  align-items: center!important;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  
}

#logomin{
  width: 100px;
  height: 30%;
  padding-bottom: 10px;
}

#ctain{
  text-decoration: none;
  color: black;
}



@media screen and (max-device-width: 640px){
  
  #myVideo{
    height:480px;
  
    }
   #title1 {
    
    font-size: 28px!important;
    bottom: 500px!important;
    margin-bottom: -50px;
    
    }
  
    .ticker-wrap{
      bottom: 60px!important;
    }
  
  
    #carousel{
      position:relative;
      object-fit: cover;
      top: -20px;
    }
  
   
    #fut{
      top: 2750px !important;;
    }
  
  }
  
  
  
  @media screen and (max-width: 850px) {
  
  
    #title1 {
    
    font-size: 30px;
    bottom: 280px;
    margin-bottom: -50px;
    
    }
    .ticker-wrap {
    
      padding-left: 0%!important;
    
    }
  
    .ticker-wrap .ticker {
  
      padding-right: 0%!important;
  
    }
  
    .conta{
      display: block!important; 
    }
    .inner{
      height: 360px!important;
    }
  
   
  
  }
  
  /*Iphone12Pro*/

  @media (device-height: 844px) and (device-width: 390px) {
    .ticker-wrap{
      bottom: 150px!important;
    }
  }

  /*IphoneXR*/
    @media (device-height: 896px) and (device-width: 414px) {
      .ticker-wrap{
        bottom: 220px!important;
      }
  
  }

    /*IphoneXR*/
    @media (device-height: 667px) and (device-width: 375px) {
      .ticker-wrap{
        bottom: 0px!important;
      }
  
  }



 /*S20+*/

  @media (device-height: 915px) and (device-width: 412px)  {
    .ticker-wrap{
      bottom: 250px!important;
    }

  }