#bodymerch{
    background-image: url("../../images/beach.gif");
    background-size: cover;
    
    
    z-index: -5!important;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
     object-fit: cover;
  padding-bottom: 50px;
  
}

#merchtitle{
    font-family: artDec2;
    justify-content: center;
    font-size: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    white-space: nowrap;


  




}
@media screen and (max-width: 768px) {
       
    #merchtitle
    {font-size: 60px;}
  
  }