#dropdown-basic{
    color: white;
    background-color: #EEA2C8;
    border: none;
    opacity: 5;
}

.dropdown-menu{
    opacity: 1!important;
}

.dropdown-div{
    opacity: 1!important;

}

#logo1{
    width: 190px;
      position: relative;
      left: -50px;
     height: 130px ;
     padding:  0rem;
     padding-top: 10px;
   
}

