body {
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    background: url(../public/fondo2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  height: 100vh;

    

   


}




@font-face {
    font-family: "miami";
    src: local("Miami"), url(./fonts/Miami.ttf);
}

@font-face {
    font-family: "artDec";
    src: local("deco"), url(./fonts/deco.otf);


}
@font-face {
    font-family: "artDec2";
    src: local("deco2"), url(./fonts/deco2.otf);
}


@font-face {
    font-family: "artDec3";
    src: local("deco3"), url(./fonts/deco3.otf);
}




